/* All colors from https://color.hailpixel.com/ */

body 
{
	background-color: #EEE3CD;
	color: #666;
	font-family: 'NTR', sans-serif;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

li 
{
	display: inline;
	padding: 10px;
}

h1, h2
{
	font-family: 'Pattaya', sans-serif;
}

h1 
{
	color: rgb(164, 55, 99);
	height: 50px;
	border-bottom: 1px solid #666;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	font-size:50px;
	padding-bottom: 20px;
	text-shadow: 2px 2px #666
}

h2 
{
	color: #204960;
	font-size: 30px;
}

h3
{
	color: hsl(181, 50%, 39%);
}

h4
{
	font-size: 12px;
}

p 
{
	color: #666;
	font-size:18px;
}

strong, em
{
	color: rgb(164, 55, 99);
}

section
{
	background-color: rgba(50, 148, 149, .15);
}

abbr 
{
	color: rgb(164, 55, 99);
	text-decoration: underline;
}

a:link 
{
	color: #666;
	text-decoration: none;
}

a:visited
{
	color: #666;
}

a:hover
{
	color: #204960;
	font-weight: 900;
	font-size: 19px;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    cursor:pointer;
}

a:active 
{
	color: rgb(164, 55, 99); 
}


