body {
	background-image: url("../images/food.png");
}

#wrapper {
	background-color: rgba(220, 233, 190, .7);
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	width: 50%
	
}

ul {
	padding-left: 0px;
}

.items {
	list-style: none;
	padding-left: 0px;;
	font-family: verdana;
	line-height: 30px;
	color: #575757;
	/*color: #FBF7F4;*/
	
}

.purchased {
	color: #8B8B8B;
	text-decoration: line-through;
	text-decoration-color: black;
	font-family: verdana;
	list-style: none;
	padding-left: 0px;
}

h1, h2 {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #216357
}

h2 {
	font-size: 30px;
}